# Nuxt
.nuxt
.output
.data
.env
.env.*
!.env.example

# Node
node_modules
*.log*
.cache
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# PWA
sw.js
workbox-*.js
